/* User Messages Layout */

.user {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.user > div {
  padding: 0.5rem 0.75rem;
  width: auto;
  max-width: 20rem;
  color: white;
  background: rgb(70, 70, 91);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user > span {
  color: gray;
  width: 100%;
  display: flex;
  justify-content: end;
}

/* AT Messages Layout */

.AI {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.AI > div {
  padding: 0.5rem 0.75rem;
  width: auto;
  max-width: 20rem;
  color: white;
  background: rgb(38, 38, 70);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.AI > span {
  color: gray;
  width: 100%;
  display: flex;
  justify-content: start;
}

@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
  }
}
